.Card {
  /*border: 1px solid blue;*/
  height: 150px;

  padding: 5px;
  text-align: center bottom;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}

.slick-arrow::before {
  background-color: black;
}

.Card:hover {
  transform: scale(1.2);
}

h4 {
  /* font-size: 1.5rem; */
  font-weight: bold;
  background-color: rgb(0, 0, 0, 0.205);
  color: white;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}

.Card:hover {
  transform: scale(1.2);
}

.Card h4 {
  background-color: rgba(0, 0, 0, 0.205);
  color: white;

}

a {
  text-decoration: none;
}